*{
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

.quiz-layout{
  height: 100vh;
  padding: 30px;
}

.app{
  width: 90%;
  max-width: 600px;
  margin: 0 auto 0;
  background: wheat;  
  border-radius: 10px;
  padding: 30px;
}

.app h2{
  font-size: 25px;
  color: black;
  font-weight: 500;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  text-align: center;
}

.quiz{
  padding: 20px 0;
}

.quiz h2{
font-size: 18px;
color: black;
font-weight: 600;
}

.btn{
  background: white;
  color: black;
  font-weight: 500;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover:not([disabled]){
  background: black;
  color: white;
}

.btn:disabled{
  cursor: no-drop;
}

#next-btn{
  background: black;
  color: white;
  font-weight: 500;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.correct{
  background: #9ae3bc;
}

.incorrect{
  background: #ff9393;
  
}

/*Dark Mode*/
.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  transition: 0.4s;
}

.slider:before{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider{
  background-color: red;
}

input:focus + .slider{
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before{
  transform: translateX(26px);
}

body{
  background-color: white;
  color: black;
  padding: 25px;
  font-size: 25px;
}

.dark-mode{
  background-color: black;
  color: white;
}